.canvas {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    max-width: fit-content;
}

.canvas-stage {
    border: 1px solid black !important;
    max-width: fit-content;
}

.canvas-score {
    display: flex;
    justify-content: space-between;
}

.canvas-score__highest {
    margin-right: 1rem;
}